html {
    box-sizing: border-box;
}
*, *:after, *:before {
    box-sizing: border-box;
}

.navigation {
    width: 100%;
    padding: 5px;
    background-color: #0b9a20;
}

.navigation__link {
    text-decoration: none;
    color: white;
    margin-right: 20px;
}

h3 {
    background-color: #055c12;
}